<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Activity</h1>
    <div class="col-6 offset-3">
        <form action="/activities/<%=activity._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="activity[title]"
                    value="<%=activity.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="activity[location]"
                    value="<%=activity.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="activity[image]"
                    value="<%=activity.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="type">Activity Type</label>
                <div class="input-group">
                    <select class = "form-control" id="type" required name="activity[type]" value="<%=activity.type %>">
                        <option value="Food">Food</option>
                        <option value="Event">Event</option>
                        <option value="Night-life">Night-life</option>
                        <option value="Outdoors">Outdoors</option>
                        <option value="Shopping">Shopping</option>
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="activity[description]"
                    required><%= activity.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-warning">Update Activity</button>
            </div>
        </form>
        <a href="/activities/<%= activity._id%>" class="btn btn-dark mb-3">Back To Activity</a>

    </div>
</div>